:root{
    --dark: rgb(30 30 30);
    --dark-dark: rgb(25 25 25);
    --light: rgb(200 200 200);
    --light-light: rgb(225 225 225);
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--dark);
}
