@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

:root{
    --dark: rgb(30 30 30);
    --dark-dark: rgb(25 25 25);
    --light: rgb(200 200 200);
    --light-light: rgb(225 225 225);
}

*{
    padding: 0;
    margin: 0;
}

body{
    padding: 2em;
    color: var(--light);
    background-color: var(--dark);
}

@keyframes rotate-background {
    from{ --gradient-angle: 0deg; }
    to{ --gradient-angle: 360deg; }
}
@keyframes inset {
    from{ --inset: 1em; }
    to{ --inset: -0.15em; }
}
#serverName{
    cursor: pointer;
    position: relative;
    display: block;
    margin: auto;
    margin-bottom: 1em;
    width: max-content;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    color: var(--light-light);
    background-color: inherit;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    text-align: center;
}
#serverName::before, #serverName::after{
    content: "";
    position: absolute;
    inset: 20px;
    border-radius: inherit;
    background: conic-gradient(from var(--gradient-angle), lightpink, skyblue, lightpink);
    z-index: -1;
    transition: all 0.6s;
    animation: rotate-background 2.5s linear 0s infinite forwards normal;
}
#serverName::before{
    filter: blur(5px);
}
#serverName:hover::before, #serverName:hover::after{
    inset: -3px;
    transition: all 0.3s;
}

#DataContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 2em 0em;
    margin: auto;
    width: 90vw;
    min-height: 100vh;
    border-radius: 1em;
    background-color: var(--dark-dark);
}

button{
    padding: 0.5em;
    border: 1px solid var(--light-light);
    border-radius: 0.5em;
    font-family: "consolas";
    font-weight: 900;
    color: var(--light);
    background-color: transparent;
    transition: all 0.2s;
}
button:hover{
    cursor: pointer;
    color: var(--dark-dark);
    background-color: var(--light-light);
    transform: translateY(-2px);
}
button:active{
    transform: translateY(1px);
}


input{
    border: none;
    margin-right: 0.5em;
    border-bottom: 1px solid var(--light);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--light);
    background-color: transparent;
    transition: all 0.1s;
}
input:focus{
    outline: none;
    border-bottom: 2px solid var(--light-light);
}

input, button, #ServerData{
    font-size: 120%;
}

#ServerData{
    text-align: center;
    padding: 1em 2em;
    margin-top: 2em;
    width: fit-content;
    min-height: 50vh;
    border-radius: inherit;
    font-family: "consolas";
    color: var(--light);
    background-color: var(--dark);
}
